@import '../../../../assets/theme/theme-functions';

.hb-sidebar {
  background-image: linear-gradient(
    to bottom right,
    getColor($surfaceLight),
    getColor($surfaceDark)
  );
  box-shadow: 1.5rem 1.5rem 1.5rem getColor($shadow, 0.1);

  &__logo {
    height: 6rem;

    a {
      display: block;
      width: 100%;
      height: 100%;

      h1 {
        border: 0.3rem solid;
        width: 6rem;
        height: 6rem;
        font-size: 2rem;
        color: getColor($text);
      }
    }
  }

  .main-heading {
    h1 {
      font-size: 5rem;
      color: getColor($text);
      line-height: 1;
    }

    h3 {
      font-size: 2rem;
      color: getColor($text);
    }

    p {
      color: getColor($textLight);
    }

    @media screen and (max-width: 1200px) {
      h1 {
        font-size: 3.5rem;
      }

      h3 {
        font-size: 1.7rem;
      }
    }

    @media screen and (max-width: 1050px) {
      h1 {
        font-size: 5.5rem;
      }

      h3 {
        font-size: 2rem;
      }
    }

    @media screen and (max-width: 500px) {
      h1 {
        font-size: 3.5rem;
      }

      h3 {
        font-size: 1.7rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .lang-link {
    color: getColor($textLight);

    &.active {
      color: getColor($text);
      font-weight: bold;
    }
  }

  .social {
    color: getColor($textLight);
    transform: translate(45%, -500%) rotate(-90deg);

    a {
      &:hover {
        color: getColor($text);
        text-decoration: underline;
      }
    }

    @media screen and (max-width: 500px) {
      transform: unset;
    }

    @media screen and (max-width: 400px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__controls {
    @media screen and (max-width: 400px) {
      align-items: flex-end;
    }
  }

  .cart-button {
    width: 10rem;
    height: 15rem;
    left: -10rem;
    transition: 0.5s;

    @media screen and (max-width: 1050px) {
      width: 15rem;
      height: 10rem;
      left: 50%;
      transform: translateX(-50%);
      top: -10rem;
    }

    @media screen and (max-width: 500px) {
      width: 13rem;
      height: 9rem;
      left: 50%;
      transform: translateX(-50%);
      top: -9rem;
    }

    &--button {
      clip-path: polygon(100% 50%, 0 0, 0 100%);
      background-color: getColor($accent);
      color: getColor($accentContrast);
      transition: 0.5s;

      &:hover {
        background-color: darker($accent, 10);
      }

      @media screen and (max-width: 1050px) {
        clip-path: polygon(50% 100%, 0 0, 100% 0);

        .mat-icon {
          margin-right: 0;
          margin-top: -2.5rem;
        }
      }
    }

    &--counter {
      left: 1rem;
      background: getColor($text);
      color: getColor($surfaceLight);
      min-width: 3rem;
      height: 3rem;
      border-radius: 3rem;

      &.bounce {
        animation: bounce-top 0.9s both;
      }
    }
  }

  &.collapsed {
    padding: 3rem 2rem;

    @media screen and (max-width: 1050px) {
      flex-direction: row;
    }

    .cart-button {
      left: 0;
      transition: 0.5s all, 0.5s 0.5s left;

      @media screen and (max-width: 1050px) {
        left: 50%;
        top: 0;
        transition: 0.5s all, 0.5s 0.5s top;

        &--counter {
          left: 11rem;
          top: 1rem;
        }
      }

      @media screen and (max-width: 500px) {
        &--counter {
          left: 9rem;
        }
      }
    }

    .hb-sidebar__logo {
      height: 3.5rem;

      a {
        h1 {
          width: 3.5rem;
          height: 3.5rem;
          font-size: 1.2rem;
        }
      }

      &-container {
        @media screen and (max-width: 1050px) {
          height: 100%;
          width: 3.5rem;
        }
      }
    }

    .hb-sidebar__controls {
      @media screen and (max-width: 1050px) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        flex-direction: row-reverse;

        .theme-holder {
          width: auto;
        }

        .lang-holder {
          flex-wrap: nowrap;

          .lang-link {
            &:first-of-type {
              margin: 0;
            }

            &:last-of-type {
              margin: 0 1.5rem;
            }
          }
        }

        .social {
          order: unset;
        }
      }

      @media screen and (max-width: 359px) {
        .theme-holder {
          display: none;
        }

        .lang-holder {
          .lang-link {
            &:last-of-type {
              margin: 0 0 0 1.5rem;
            }
          }
        }
      }
    }

    .main-heading,
    .social {
      opacity: 0;
      pointer-events: none;

      h1,
      h3,
      p {
        font-size: 0;
      }
    }

    .social {
      opacity: 0;
      pointer-events: none;
      order: -1;

      a {
        font-size: 0;
      }
    }

    .lang-link {
      margin: 0;
      width: 100%;
      text-align: center;

      &:first-of-type {
        margin: 1.5rem 0;
      }
    }
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-5px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-2px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
