<div
  class="hb-shop h-100 w-100 overflow-hidden-x overflow-auto-y d-flex flex-wrap"
>
  <ng-container *ngIf="!isLoading">
    <div *ngFor="let product of products" class="tile-wrapper w-25">
      <hb-product-tile [product]="product" [lang]="lang"></hb-product-tile>
    </div>
  </ng-container>

  <div
    *ngIf="isLoading"
    class="hb-shop__loader absolute w-100 h-100 d-flex ali-center jc-center"
  >
    <h1 class="d-flex ali-center jc-center radius-50 fw-bold m-0 transition05">
      H•B
    </h1>
  </div>
</div>
