@import '../../../assets/theme/theme-functions';

.hb-shop {
  align-content: flex-start;

  &__loader {
    background-color: getColor($surfaceLight);

    h1 {
      border: 0.5rem solid;
      width: 10rem;
      height: 10rem;
      font-size: 3rem;
      animation: rotate 1s infinite;
      color: getColor($text);
    }
  }

  .tile-wrapper {
    @media screen and (max-width: 1400px) {
      width: 33.33%;
    }

    @media screen and (max-width: 950px) {
      width: 50%;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
