.hb-welcome {
  &--container {
    @media screen and (max-width: 1050px) {
      flex-direction: column-reverse;
    }
  }

  .square1 {
    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  &__carousel {
    background-color: var(--primary);
  }

  &__collection {
    background-color: hsl(
      var(--accent-hue),
      calc(var(--accent-saturation) * 1%),
      calc(var(--accent-luminosity) * 1%)
    );
    color: var(--accent-contrast);

    @media screen and (hover: hover) {
      &:hover {
        background-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * 1%),
          calc((var(--accent-luminosity) - 10) * 1%)
        );
      }
    }

    @media screen and (max-width: 750px) {
      width: 100%;
    }

    h4 {
      font-size: 5rem;
      line-height: 1;

      @media screen and (max-width: 1200px) {
        font-size: 3.5rem;
      }
    }

    p {
      font-size: 1.8rem;

      .mat-icon {
        font-size: 5rem;
      }
    }
  }
}
