@import '../../../assets/theme/theme-functions';

.hb-welcome {
  &--container {
    @media screen and (max-width: 1050px) {
      flex-direction: column-reverse;
    }
  }

  .square1 {
    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  &__carousel {
    background-color: getColor($primary);
  }

  &__collection {
    background-color: getColor($accent);
    color: getColor($accentContrast);

    @media screen and (hover: hover) {
      &:hover {
        background-color: darker($accent, 10);
      }
    }

    @media screen and (max-width: 750px) {
      width: 100%;
    }

    h4 {
      font-size: 5rem;
      line-height: 1;

      @media screen and (max-width: 1200px) {
        font-size: 3.5rem;
      }
    }

    p {
      font-size: 1.8rem;

      .mat-icon {
        font-size: 5rem;
      }
    }
  }
}
