@import '../../../../assets/theme/theme-functions';

.theme-switch {
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: initial;
  color: getColor($textLight);

  & > svg,
  & > svg path {
    color: unset;
  }

  @media screen and (hover: hover) {
    &:hover {
      color: getColor($text);
    }
  }
}
