.mat-button,
.mat-stroked-button,
.mat-flat-button {
  border-radius: 0 !important;
}

html.dark {
  .mat-flat-button.mat-primary.mat-button-disabled,
  .mat-flat-button.mat-accent.mat-button-disabled,
  .mat-flat-button.mat-warn.mat-button-disabled,
  .mat-flat-button.mat-button-disabled.mat-button-disabled,
  .mat-raised-button.mat-primary.mat-button-disabled,
  .mat-raised-button.mat-accent.mat-button-disabled,
  .mat-raised-button.mat-warn.mat-button-disabled,
  .mat-raised-button.mat-button-disabled.mat-button-disabled,
  .mat-fab.mat-primary.mat-button-disabled,
  .mat-fab.mat-accent.mat-button-disabled,
  .mat-fab.mat-warn.mat-button-disabled,
  .mat-fab.mat-button-disabled.mat-button-disabled,
  .mat-mini-fab.mat-primary.mat-button-disabled,
  .mat-mini-fab.mat-accent.mat-button-disabled,
  .mat-mini-fab.mat-warn.mat-button-disabled,
  .mat-mini-fab.mat-button-disabled.mat-button-disabled {
    color: rgba(255, 255, 255, 0.26);
  }

  .mat-flat-button.mat-primary.mat-button-disabled,
  .mat-flat-button.mat-accent.mat-button-disabled,
  .mat-flat-button.mat-warn.mat-button-disabled,
  .mat-flat-button.mat-button-disabled.mat-button-disabled,
  .mat-raised-button.mat-primary.mat-button-disabled,
  .mat-raised-button.mat-accent.mat-button-disabled,
  .mat-raised-button.mat-warn.mat-button-disabled,
  .mat-raised-button.mat-button-disabled.mat-button-disabled,
  .mat-fab.mat-primary.mat-button-disabled,
  .mat-fab.mat-accent.mat-button-disabled,
  .mat-fab.mat-warn.mat-button-disabled,
  .mat-fab.mat-button-disabled.mat-button-disabled,
  .mat-mini-fab.mat-primary.mat-button-disabled,
  .mat-mini-fab.mat-accent.mat-button-disabled,
  .mat-mini-fab.mat-warn.mat-button-disabled,
  .mat-mini-fab.mat-button-disabled.mat-button-disabled {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .mat-stroked-button:not(.mat-button-disabled) {
    border-color: rgba(255, 255, 255, 0.12);
  }
}
