// ****************************************  Colors  **************************************** //
// Type check
$colorList: (
  'primary',
  'primaryContrast',
  'accent',
  'accentContrast',
  'error',
  'errorContrast',
  'success',
  'successContrast',
  'background',
  'surfaceDark',
  'surfaceLight',
  'text',
  'textLight',
  'shadow'
);

// Autocomplete
$primary: 'primary';
$primaryContrast: 'primaryContrast';
$accent: 'accent';
$accentContrast: 'accentContrast';
$error: 'error';
$errorContrast: 'errorContrast';
$success: 'success';
$successContrast: 'successContrast';
$background: 'background';
$surfaceDark: 'surfaceDark';
$surfaceLight: 'surfaceLight';
$text: 'text';
$textLight: 'textLight';
$shadow: 'shadow';

// ****************************************  UI Variables  **************************************** //
// Type check
$varList: ('main-font', 'heading-font', 'main-spacing', 'sidebar-width');

// Autocomplete
$varMainFont: 'main-font';
$varHeadingFont: 'heading-font';
$varMainSpacing: 'main-spacing';
$varSidebarWidth: 'sidebar-width';
