@import './theme-functions';

@function generate-theme($color, $contrast) {
  @return (
    50: lighter($color, 50),
    100: lighter($color, 40),
    200: lighter($color, 30),
    300: lighter($color, 20),
    400: lighter($color, 10),
    // MAIN COLOR,
    500: getColor($color),
    // MAIN COLOR
    600: darker($color, 8),
    700: darker($color, 16),
    800: darker($color, 24),
    900: darker($color, 32),
    A100: darker($color, 40),
    A200: darker($color, 48),
    A400: darker($color, 56),
    A700: darker($color, 64),
    contrast: (
      50: getColor($contrast),
      100: getColor($contrast),
      200: getColor($contrast),
      300: getColor($contrast),
      400: getColor($contrast),
      500: getColor($contrast),
      600: getColor($contrast),
      700: getColor($contrast),
      800: getColor($contrast),
      900: getColor($contrast),
      A100: getColor($contrast),
      A200: getColor($contrast),
      A400: getColor($contrast),
      A700: getColor($contrast),
    )
  );
}

$theme-primary: generate-theme(primary, primary-contrast);

$theme-accent: generate-theme(accent, accent-contrast);

$theme-error: generate-theme(error, error-contrast);
