@function calc-luminosity($luminosity, $step, $multiplier, $minus: true) {
  @if ($minus) {
    @return calc((#{$luminosity} - (#{$step}) * #{$multiplier}) * 1%);
  } @else {
    @return calc((#{$luminosity} + (#{$step}) * #{$multiplier}) * 1%);
  }
}

@function generate-theme($hue, $saturation, $luminosity, $contrast) {
  //! MUST BE STRING BECAUSE OF FORMATTING INSIDE CALC FUNCTION
  $step-lighter: '(100 - ' + $luminosity + ') / 5'; //5 --> 50-400
  $step-darker: $luminosity + ' / 8'; //8 --> 600-A700
  //! MUST BE STRING BECAUSE OF FORMATTING INSIDE CALC FUNCTION

  $saturation-percentage: calc(#{$saturation} * 1%);

  @return (
    50: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-lighter, 5, false)),
    100: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-lighter, 4, false)),
    200: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-lighter, 3, false)),
    300: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-lighter, 2, false)),
    400: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-lighter, 1, false)),
    // MAIN COLOR,
      500: hsla($hue, $saturation-percentage, calc(#{$luminosity} * 1%), 1),
    // MAIN COLOR,
      600: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-darker, 1)),
    700: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-darker, 2)),
    800: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-darker, 3)),
    900: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-darker, 4)),
    A100: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-darker, 5)),
    A200: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-darker, 6)),
    A400: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-darker, 7)),
    A700: hsl($hue, $saturation-percentage, calc-luminosity($luminosity, $step-darker, 8)),
    contrast: (
      50: $contrast,
      100: $contrast,
      200: $contrast,
      300: $contrast,
      400: $contrast,
      500: $contrast,
      600: $contrast,
      700: $contrast,
      800: $contrast,
      900: $contrast,
      A100: $contrast,
      A200: $contrast,
      A400: $contrast,
      A700: $contrast,
    )
  );
}

$primary-theme: generate-theme(
  var(--primary-hue),
  var(--primary-saturation),
  var(--primary-luminosity),
  var(--primary-contrast)
);

$accent-theme: generate-theme(
  var(--accent-hue),
  var(--accent-saturation),
  var(--accent-luminosity),
  var(--accent-contrast)
);

$error-theme: generate-theme(var(--error-hue), var(--error-saturation), var(--error-luminosity), var(--error-contrast));