@import '~@angular/material/theming';

@include mat-core();
@import './palette.scss';

$theme-app-primary: mat-palette($theme-primary);
$theme-app-accent: mat-palette($theme-accent);

$theme-app-error: mat-palette($theme-error);

$theme-app: mat-light-theme(
  $theme-app-primary,
  $theme-app-accent,
  $theme-app-error
);

@include angular-material-theme($theme-app);
