//! ViewEncapsulation.None is set in this component
//! We should be careful about how we write CSS inside this file
//! To avoid any 'leaking', keep the styles wrapped inside container with UNIQUE class name

.hb-loader {
  .mat-dialog-container {
    background: none;
    box-shadow: none;

    .loader-wrap {
      color: var(--accent);
      font-size: 2rem;

      &::before {
        height: 4px;
        width: 60%;
        background: var(--accent);
        border-radius: var(--radius);
        bottom: 0;
        left: -160%;
        animation: loading 2s ease-in infinite;
      }
    }
  }
}

@keyframes loading {
  from {
    left: -160%;
  }
  to {
    left: 160%;
  }
}
