:root {
  //**** COLORS ****//
  // PRIMARY
  --primary-hue: 151;
  --primary-saturation: 0;
  --primary-luminosity: 0;

  --primary-contrast-hue: 0;
  --primary-contrast-saturation: 0;
  --primary-contrast-luminosity: 100;

  // ACCENT
  --accent-hue: 190;
  --accent-saturation: 75;
  --accent-luminosity: 47;

  --accent-contrast-hue: 0;
  --accent-contrast-saturation: 0;
  --accent-contrast-luminosity: 100;

  // ERROR
  --error-hue: 348;
  --error-saturation: 85;
  --error-luminosity: 50;

  --error-contrast-hue: 0;
  --error-contrast-saturation: 0;
  --error-contrast-luminosity: 100;

  // SUCCESS
  --success-hue: 151;
  --success-saturation: 63;
  --success-luminosity: 56;

  --success-contrast-hue: 0;
  --success-contrast-saturation: 0;
  --success-contrast-luminosity: 100;

  //Other
  --background-hue: 0;
  --background-saturation: 0;
  --background-luminosity: 98.04;

  --surface-dark-hue: 0;
  --surface-dark-saturation: 0;
  --surface-dark-luminosity: 98.82;

  --surface-light-hue: 0;
  --surface-light-saturation: 0;
  --surface-light-luminosity: 100;

  --text-hue: 219;
  --text-saturation: 65;
  --text-luminosity: 6.86;

  --text-light-hue: 201;
  --text-light-saturation: 18;
  --text-light-luminosity: 64;

  --shadow-hue: 0;
  --shadow-saturation: 0;
  --shadow-luminosity: 0;

  // **** UI Variables **** //
  --main-spacing: 3rem;
  --sidebar-width: 7rem;
}

// **************************************************** Dark theme **************************************************** //
html.dark {
  // PRIMARY
  --primary-hue: 0;
  --primary-saturation: 0;
  --primary-luminosity: 100;

  --primary-contrast-hue: 0;
  --primary-contrast-saturation: 0;
  --primary-contrast-luminosity: 0;

  // ACCENT
  --accent-hue: 190;
  --accent-saturation: 75;
  --accent-luminosity: 47;

  --accent-contrast-hue: 0;
  --accent-contrast-saturation: 0;
  --accent-contrast-luminosity: 100;

  // ERROR
  --error-hue: 348;
  --error-saturation: 85;
  --error-luminosity: 50;

  --error-contrast-hue: 0;
  --error-contrast-saturation: 0;
  --error-contrast-luminosity: 100;

  // SUCCESS
  --success-hue: 151;
  --success-saturation: 63;
  --success-luminosity: 56;

  --success-contrast-hue: 0;
  --success-contrast-saturation: 0;
  --success-contrast-luminosity: 100;

  //Other
  --background-hue: 0;
  --background-saturation: 0;
  --background-luminosity: 18;

  --surface-dark-hue: 0;
  --surface-dark-saturation: 0;
  --surface-dark-luminosity: 23;

  --surface-light-hue: 0;
  --surface-light-saturation: 0;
  --surface-light-luminosity: 32;

  --text-hue: 0;
  --text-saturation: 0;
  --text-luminosity: 100;

  --text-light-hue: 0;
  --text-light-saturation: 0;
  --text-light-luminosity: 63;
}
